/* lookupModal.css */
.scrollable-content {
    max-height: 300px;
    overflow-y: auto;
}

.custom-modal {
    max-width: 40rem;
}



        .parent-comment {
            background: #f4f6f9;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.05);
        }
        .child-comment {
            border-left: 3px solid #0070d2;
            background: #fff;
            border-radius: 6px;
        }